.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 996px) {
  .featureSvg {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .featureSvg {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 576px) {
  .featureSvg {
    height: 80px;
    width: 80px;
  }
}
